<div class="container">
    <h1 class="center-align title-text">Preguntas Frecuentes</h1>

    <div [hidden]="questions == null">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, reiciendis ipsam. Tenetur inventore non eveniet eaque perspiciatis quos quis perferendis dolores, dolore corporis ea pariatur ad, reprehenderit molestiae, similique nisi!</p>
    
        <ul class="collapsible">
            <li *ngFor="let item of questions">
                <div class="collapsible-header">{{item.question}}</div>
                <div class="collapsible-body">{{item.answer}}</div>
            </li>
        </ul>
    </div>

    <div [hidden]="questions != null">
        <div class="row center-align">
            <div class="row">
                <h3>Por el momento no hay preguntas disponibles.</h3>
            </div>
            
            <div class="row">
                <div class="col s12 center-align">
                    <a class="waves-effect btn-large" [routerLink]="['/home']">Regresar</a>
                </div>
            </div>
        </div>
    </div>

</div>