<header>
    <nav>
        <div class="nav-wrapper container">
            <a href="#" class="brand-logo">OMMBC</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <div *ngIf="!isLoggedIn">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/login">Accede</a></li>
                </div>
                <!-- Starts ng if -->

                <div *ngIf="isLoggedIn">
                    <li><a href="/home">Inicio</a></li>
                    <li><a href="#!">Aprendizaje Guiado</a></li>
                    <li><a href="#!">Problemas</a></li>
                    <li><a href="#!">Ranking Global</a></li>
                    <li><a href="#!">Notificaciones</a></li>
                    <li><a href="#!">Foro</a></li>
                    <li><a href="#!">Buzón</a></li>
                    <li><a href="#!">FAQ</a></li>
                    <li><a href="#!">Perfil</a></li>
                </div>

                <!-- End ng if -->
            </ul>
        </div>
    </nav>
</header>  
