<!-- <header> -->
    <nav>
        <div class="nav-wrapper container">
            <a href="#" class="brand-logo">OMMBC</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            <!-- Starts ng if -->

                <div *ngIf="isLoggedIn">
                    <li><a [routerLink]="['/home']"><i class="material-icons left">home</i>Inicio</a></li>
                    <li><a class="dropdown-trigger" data-target="dropdownPractice"><i class="material-icons left">edit</i>Practica<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a [routerLink]="['/ranking']"><i class="material-icons left">insert_chart</i>Ranking</a></li>
                    <li><a [routerLink]="['/notifications']"><i class="material-icons left">notifications</i>Notificaciones</a></li>
                    <li><a [routerLink]="['/home']"><i class="material-icons left">forum</i>Foro</a></li>
                    <li><a [routerLink]="['/home']"><i class="material-icons left">inbox</i>Buzón</a></li>
                    <li><a [routerLink]="['/faq']"><i class="material-icons left">info</i>FAQ</a></li>
                    <li><a class="dropdown-trigger" data-target="dropdownProfile"><i class="material-icons left">account_circle</i>User<i class="material-icons right">arrow_drop_down</i></a></li>
                </div>

                <!-- Dropdown Structure -->
                <ul id="dropdownPractice" class="dropdown-content">
                    <li><a [routerLink]="['/guidedLearning']">Aprendizaje Guiado</a></li>
                    <li><a [routerLink]="['/problems']">Problemas</a></li>
                </ul>
                <ul id="dropdownProfile" class="dropdown-content">
                    <li><a [routerLink]="['/profile']">Mi Perfil</a></li>
                    <li><a [routerLink]="['/settings']">Ajustes</a></li>
                    <li><a (click)="onLogout()">Cerrar Sesión</a></li>
                </ul>
            <!-- End ng if -->

            </ul>
        </div>
    </nav>
<!-- </header>   -->
