<!-- <header> -->
    <nav>
        <div class="nav-wrapper container">
            <a href="#" class="brand-logo">OMMBC</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <div *ngIf="!isLoggedIn">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/login">Accede</a></li>
                </div>
                <!-- Starts ng if -->

                <div *ngIf="isLoggedIn">
                    <li><a href="/home">Inicio</a></li>
                    <li><a href="/home">Aprendizaje Guiado</a></li>
                    <li><a href="/home">Problemas</a></li>
                    <li><a href="/home">Ranking Global</a></li>
                    <li><a href="/home">Notificaciones</a></li>
                    <li><a href="/home">Foro</a></li>
                    <li><a href="/home">Buzón</a></li>
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="/home">Perfil</a></li>
                </div>

                <!-- End ng if -->
            </ul>
        </div>
    </nav>
<!-- </header>   -->
