<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col s6">
                <h5 class="center-align">OMMBC</h5>
                <p>La Olimpiada Mexicana de Matemáticas en Baja California difunde las matemáticas a través de concursos. Elige y entrena a los equipos para competencia nacional de la Olimpiada Mexicana de Matemáticas.</p>
            </div>
            <div class="col s3">
                <h5 class="center-align">Secciones</h5>
                <div class="col s6 center-align">
                    <ul>
                        <li><a href="#!">Inicio</a></li>
                        <li><a href="#!">Calendario</a></li>
                        <li><a href="#!">Noticias</a></li>
                    </ul>
                </div>
                <div class="col s6 center-align">
                    <ul>
                        <li><a href="#!">Entrénate</a></li>
                        <li><a href="#!">Contacto</a></li>
                        <li><a href="#!">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col s3">
                <h5 class="center-align">Contacto</h5>
                <div class="center-align">
                    <p>Dr. Carlos Yee Romero</p>
                    <p>Delegado Estatal</p>
                    <p>carlos.yee@ommbc.org</p>
                    <p>Tel: (646)174-4560, Ext 216</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center-align">
            <div class="row">
                Desarrollado por <a href="https://www.solutionsradix.com" target="_blank">Radix</a>.
            </div>
            <div class="row">
                OMMBC © 2018. Todos los Derechos Reservados. 
            </div>
        </div>
    </div>
</footer>