<app-header></app-header>
<div class="landing">
    <div class="container">
        <div class="valign-wrapper">
            <div class="center-align">
                <h1>¡BIENVENIDO A LA OMMBC!</h1>
    
                <p>La plataforma oficial de la OMMBC te permitirá Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quasi unde, sint sapiente distinctio placeat perferendis assumenda, odit suscipit beatae eum esse illo nesciunt adipisci atque accusamus inventore id. Pariatur!</p>
                
                <a class="waves-effect waves-light btn-large" href="/login"><i class="material-icons right">cloud</i>INICIAR</a>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>