<div class="landing valign-wrapper">
    <div class="container center-align">
        <div class="row">
            <h1>¡BIENVENIDO A LA OMMBC!</h1>
        </div>

        <div class="row">
            <h5>La plataforma oficial de la OMMBC te permitirá Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quasi unde, sint sapiente distinctio placeat perferendis assumenda, odit suscipit beatae eum esse illo nesciunt adipisci atque accusamus inventore id. Pariatur!</h5>
        </div>
        
        <div class="row">
            <a class="waves-effect waves-light btn-large" [routerLink]="['/login']"><i class="material-icons right">send</i>INICIAR</a>
        </div>
    </div>
</div>