.landing {
    background-image: url("/assets/img/landingBg.jpg"); 
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    color: #ffffff;
    height: 100%;
}
/* Buttons color */
.btn-large   {
    background-color: #0693BE;
}
.btn-large:hover {
    background-color: #14C9D2;
}
/*  */