.landing {
    background-image: url("/assets/img/landingBg.jpg") !important; 
    position: relative;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    color: #ffffff;
}