<div class="container">
    <div class="row">
        <h1 class="title-text center-align">Titulo del Problema</h1>
    </div>
    
    <div class="row">
        <h5 class="center-align">Area <b>|</b> Tema <b>|</b> Nivel</h5>
    </div>

    <div class="row">
        <div class="col s12">
            <h5 class="left-align">Problema</h5>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque fugiat ipsum, beatae pariatur modi, animi voluptates voluptate sint quis provident tenetur, ea harum eveniet consequuntur officiis perferendis sit non cum quia dolorem voluptatem? Officiis laborum voluptate explicabo, harum beatae necessitatibus mollitia quasi quo aut molestias reprehenderit? Beatae delectus quos maxime nemo officiis, nisi sunt illo expedita, aliquid commodi modi iusto dolore eius veniam ipsam! Laboriosam ducimus architecto, eveniet eaque quae eligendi libero repellat sapiente obcaecati porro voluptatibus eius modi ab harum. Beatae dolores doloribus blanditiis consequuntur quod aliquid veritatis tenetur corporis tempore repellat perferendis modi atque, maxime nobis culpa eum.</p>
            
            <h5 class="left-align">Respuesta</h5>

            <div class="row">
                <form class="col s12">
                    <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">insert_comment</i>
                        <textarea id="answer" class="materialize-textarea"></textarea>
                        <label for="answer">Respuesta</label>
                    </div>
                    </div>
                </form>
            </div>

            <div class="row">
                <div class="col s6 center-align">
                    <button class="waves-effect waves-light btn-large">Cancelar</button>
                </div>
                <div class="col s6 center-align">
                    <button class="waves-effect waves-light btn-large">Responder</button>
                </div>
            </div>
        </div>
    </div>
</div>