<div class="container">
    <div class="row center-align">
        <h3 class="title-text">Actualiza tu Contraseña</h3>
    </div>

    <div class="row container">
        <div class="input-field col s6">
            <input id="password" type="password" class="validate" formControlName="password" required>
            <label for="password">Contraseña Nueva</label>
            <span class="helper-text" data-error="Ingresa una contraseña."></span>
        </div>
        <div class="input-field col s6">
            <input id="confirm_password" type="password" class="validate" formControlName="confirm_password" required>
            <label for="confirm_password">Confirmar contraseña</label>
            <span class="helper-text" data-error="Ingresa una contraseña."></span>
        </div>
    </div>
    
    <div class="row center-align">
        <button class="waves-effect waves-light btn-large">Actualizar</button>
    </div>
</div>