<div class="container">
    <div class="row center-align">
        <h1 class="title-text">Actualiza tu Contraseña</h1>
    </div>
    
    <div *ngIf="error != null" class="container ">
        <ul class="collection">
            <li class="collection-item center-align collection-item-error">{{ error }}</li>
        </ul>
        <p class="center-align"></p>
    </div>

    <div class="row container">
        <div class="input-field col s6">
            <input id="password" type="password" #password class="validate" required>
            <label for="password">Contraseña Nueva</label>
            <span class="helper-text" data-error="Ingresa una contraseña."></span>
        </div>
        <div class="input-field col s6">
            <input id="confirm_password" type="password" #confirmPassword class="validate" required>
            <label for="confirm_password">Confirmar contraseña</label>
            <span class="helper-text" data-error="Ingresa una contraseña."></span>
        </div>
    </div>
    
    <div class="row center-align">
        <button class="waves-effect waves-light btn-large" (click)="updatePassword(password, confirmPassword)">Actualizar</button>
    </div>

    <div id="updatePasswordModal" class="modal">
        <div class="modal-content">
            <div *ngIf="uploading" class="container center-align">
                <h4>Cargando...</h4>
                <div class="preloader-wrapper big active">
                    <div class="spinner-layer">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
                <p>Por favor espera un momento.</p>
            </div>
            <div *ngIf="!uploading" class="">
                <h3>{{serverResponse}}</h3>
            </div>
        </div>
        <div class="modal-footer">
            <a class="modal-close waves-effect btn-flat" (click)="navigateToLogin()">Aceptar</a>
        </div>
    </div>

</div>