@import "~src/sass/main"

.title-text
    @extend %title-style

.question
    background-color: #f2f2f2
    padding: 20px

.collection .collection-item.avatar
    border: 1px solid white
    background-color: #f2f2f2
    
    &:hover
        a.deleteReply
            color: $primary-color-light
            display: block

    a.deleteReply
        display: none
        &:hover
            color: $primary-accent-color
            cursor: pointer

.btn, .btn-floating, .btn-large
    @extend %button-style

.input-field 
    textarea, input
        @extend %input-style

.collection-item-error
    @extend %error-style
