<div class="container">
	<h1 class="center-align title-text">Foro</h1>

	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, reiciendis ipsam. Tenetur inventore non eveniet eaque perspiciatis quos quis perferendis dolores, dolore corporis ea pariatur ad, reprehenderit molestiae, similique nisi!</p>

	<ul class="collapsible popout">
		<li>
			<div class="collapsible-header">
				Título de la Pregunta
			</div>
			<div class="collapsible-body">
				<div class="row question">
					<p>Descripción de la pregunta Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, suscipit aliquam. Cumque officiis tenetur quis similique, nihil quos dicta quam.</p>
				</div>
				<div class="row">
					<p>Respuestas</p>
					<ul class="collection">
						<li class="collection-item avatar">
							<i class="material-icons circle red">play_arrow</i>
							<span class="title">Nombre del Autor</span>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa natus deserunt laudantium nulla blanditiis. Officiis quisquam magnam libero suscipit dicta!</p>
						</li>
						<li class="collection-item avatar">
							<i class="material-icons circle red">play_arrow</i>
							<span class="title">Nombre del Autor</span>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa natus deserunt laudantium nulla blanditiis. Officiis quisquam magnam libero suscipit dicta!</p>
						</li>
					</ul>
				</div>
				<div class="row">
					<p>Escribe una respuesta</p>
					<form action="">
						<div class="input-field col s11">
							<textarea id="reply" class="materialize-textarea"></textarea>
							<label for="reply">Respuesta</label>
						</div>
						<div class="input-field col s1">
							<button class="btn waves-effect" type="submit"><i class="material-icons">send</i></button>
						</div>
					</form>
				</div>
			</div>
		</li>
		<li>
			<div class="collapsible-header">
				Título de la Pregunta
			</div>
			<div class="collapsible-body">
				<div class="row question">
					<p>Descripción de la pregunta Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, suscipit aliquam. Cumque officiis tenetur quis similique, nihil quos dicta quam.</p>
				</div>
				<div class="row">
					<p>Respuestas</p>
					<ul class="collection">
						<li class="collection-item avatar">
							<i class="material-icons circle red">play_arrow</i>
							<span class="title">Nombre del Autor</span>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa natus deserunt laudantium nulla blanditiis. Officiis quisquam magnam libero suscipit dicta!</p>
						</li>
						<li class="collection-item avatar">
							<i class="material-icons circle red">play_arrow</i>
							<span class="title">Nombre del Autor</span>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa natus deserunt laudantium nulla blanditiis. Officiis quisquam magnam libero suscipit dicta!</p>
						</li>
					</ul>
				</div>
				<div class="row">
					<p>Escribe una respuesta</p>
					<form action="">
						<div class="input-field col s11">
							<textarea id="reply" class="materialize-textarea"></textarea>
							<label for="reply">Respuesta</label>
						</div>
						<div class="input-field col s1">
							<button class="btn waves-effect" type="submit"><i class="material-icons">send</i></button>
						</div>
					</form>
				</div>
			</div>
		</li>
		<li>
			<div class="collapsible-header">
				Título de la Pregunta
			</div>
			<div class="collapsible-body">
				<div class="row question">
					<p>Descripción de la pregunta Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, suscipit aliquam. Cumque officiis tenetur quis similique, nihil quos dicta quam.</p>
				</div>
				<div class="row">
					<p>Respuestas</p>
					<ul class="collection">
						<li class="collection-item avatar">
							<i class="material-icons circle red">play_arrow</i>
							<span class="title">Nombre del Autor</span>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa natus deserunt laudantium nulla blanditiis. Officiis quisquam magnam libero suscipit dicta!</p>
						</li>
						<li class="collection-item avatar">
							<i class="material-icons circle red">play_arrow</i>
							<span class="title">Nombre del Autor</span>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa natus deserunt laudantium nulla blanditiis. Officiis quisquam magnam libero suscipit dicta!</p>
						</li>
					</ul>
				</div>
				<div class="row">
					<p>Escribe una respuesta</p>
					<form action="">
						<div class="input-field col s11">
							<textarea id="reply" class="materialize-textarea"></textarea>
							<label for="reply">Respuesta</label>
						</div>
						<div class="input-field col s1">
							<button class="btn waves-effect" type="submit"><i class="material-icons">send</i></button>
						</div>
					</form>
				</div>
			</div>
		</li>
	</ul>


	<div class="fixed-action-btn">
		<a class="btn-floating btn-large tooltipped modal-trigger" data-position="left" data-tooltip="Envía tu Pregunta" href="#modal1">
			<i class="large material-icons">add</i>
		</a>
	</div>

	<!-- Modal Structure -->
	<div id="modal1" class="modal">
		<div class="modal-content">
			<h4>Envía tu Pregunta</h4>
			
			<form action="">
				<div class="row">
					<div class="input-field col s12">
						<input placeholder="Título que se mostrará para la pregunta" id="questionTitle" type="text" class="validate">
						<label for="questionTitle">Título</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<textarea placeholder="Descripción de la pregunta. Explica tu pregunta de manera detallada." id="questionDescription" class="materialize-textarea"></textarea>
						<label for="questionDescription">Descripción</label>
					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
			<a href="#!" class="modal-close waves-effect waves-green btn-flat">Enviar</a>
		</div>
	</div>

	<!-- <ul class="collapsible popout">
		<li>
			<div class="collapsible-header">Envía tu Pregunta</div>
			<div class="collapsible-body">
				<form action="">
					<div class="row">
						<div class="input-field col s12">
							<input placeholder="Título que se mostrará para la pregunta" id="questionTitle" type="text" class="validate">
							<label for="questionTitle">Título</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<textarea placeholder="Descripción de la pregunta. Explica tu pregunta de manera detallada." id="questionDescription" class="materialize-textarea"></textarea>
							<label for="questionDescription">Descripción</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<button class="btn waves-effect" type="submit">Enviar</button>
						</div>
					</div>
				</form>
			</div>
		</li>
	</ul> -->
</div>	