<div class="container">
	<h1 class="center-align title-text">Foro</h1>

	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, reiciendis ipsam. Tenetur inventore non eveniet eaque perspiciatis quos quis perferendis dolores, dolore corporis ea pariatur ad, reprehenderit molestiae, similique nisi!</p>

	<ul class="collapsible popout">
		<li *ngFor="let question of questions">
			<div class="collapsible-header">{{question.title}}</div>
			<div class="collapsible-body">
				<div class="row question">
					<p>{{question.question}}</p>
				</div>
				<div [hidden]="!question.replies" class="row">
					<p>Respuestas</p>
					<ul class="collection">
						<li class="collection-item avatar" *ngFor="let reply of question.replies">
							<i class="material-icons circle red">play_arrow</i>
							<span class="title">{{reply.replierName}}</span>
							<p>{{reply.reply}}</p>
						</li>
					</ul>
				</div>
				<div class="row">
					<div *ngIf="replyError != null" class="container ">
						<ul class="collection">
							<li class="collection-item center-align collection-item-error">{{replyError}}</li>
						</ul>
						<p class="center-align"></p>
					</div>
				</div>
				<div class="row">
					<p>Escribe una respuesta</p>
					<form action="" [formGroup]="replyForm">
						<div class="input-field col s11">
							<textarea formControlName="reply" id="reply" class="materialize-textarea"></textarea>
							<label for="reply">Respuesta</label>
						</div>
						<div class="input-field col s1">
							<a (click)="createReply(question._id)" class="btn waves-effect"><i class="material-icons">send</i></a>
						</div>
					</form>
				</div>
			</div>
		</li>
	</ul>


	<div class="fixed-action-btn">
		<a class="btn-floating btn-large tooltipped modal-trigger" data-position="left" data-tooltip="Envía tu Pregunta" href="#forumQuestionModal">
			<i class="large material-icons">add</i>
		</a>
	</div>

	<!-- Modal Structure -->
	<div id="forumQuestionModal" class="modal">
		<div class="modal-content">
			<h4>Envía tu Pregunta</h4>

			<div *ngIf="questionError != null" class="container ">
				<ul class="collection">
					<li class="collection-item center-align collection-item-error">{{questionError}}</li>
				</ul>
				<p class="center-align"></p>
			</div>
			
			<form action="" [formGroup]="questionForm">
				<div class="row">
					<div class="input-field col s12">
						<input formControlName="title" placeholder="Título que se mostrará para la pregunta" id="questionTitle" type="text" class="validate">
						<label for="questionTitle">Título</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<textarea formControlName="question" placeholder="Descripción de la pregunta. Explica tu pregunta de manera detallada." id="questionDescription" class="materialize-textarea"></textarea>
						<label for="questionDescription">Descripción</label>
					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<a class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
			<a (click)="createQuestion()" class="waves-effect waves-green btn-flat">Enviar</a>
		</div>
	</div>
</div>	