/* label color */
.input-field label {
    color: #000;
}
/*  */
/* label focus color */
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
    color: #0693BE;
}
/*  */
/* label underline focus color */
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus , input:not([type]:focus){
    border-bottom: 1px solid #0693BE;
    box-shadow: 0 1px 0 0 #0693BE;
}
/*  */
/* Check boxes color */
.checkbox-span {
    color: #000;
}
/* Selectors */
label {
    color: #000;
}
/*  */
/* Buttons color */
.btn-large {
    background-color: #0693BE;
}
.btn-large:hover {
    background-color: #14C9D2;
}
/*  */
/* links */
a {
    color: #14C9D2;
}
/*  */
/* Titles */
.title-text {
    color: #0767A4;
}
 
/*  */