<div class="container">
    <h1 class="center-align title-text">Regístrate</h1>
    
    <div class="row">
        <form [formGroup]="form" class="col s6 offset-s3">

            <div class="row">
                <div class="input-field col s6">
                    <input id="firstName" formControlName="name" type="text" class="validate" required>
                    <label for="firstName">Nombre</label>
                    <span class="helper-text" data-error="Ingresa tu nombre."></span>
                </div>
                <div class="input-field col s6">
                    <input id="lastName" formControlName="lastName" type="text" class="validate" required>
                    <label for="lastName">Apellidos</label>
                    <span class="helper-text" data-error="Ingresa al menos un apellido."></span>
                </div>
            </div>
            
            <div class="row">
                <div class="input-field col s6">
                    <label for="birthDate">Birth Date</label>
                    <input id="birthDate" type="text" #birthDate class="datepicker" (change)="setDate(birthDate)">
                </div>
                <div class="input-field col s6">
                    <input id="email" type="email" formControlName="email" class="date" required>
                    <label for="email">Correo electrónico</label>
                    <span class="helper-text" data-error="Ingresa un correo electrónico válido."></span>
                </div>
            </div>
            
            <div class="row">
                <div class="col s6">
                    <label>Ciudad</label>
                    <select id="city" formControlName="city" required>
                        <option value="" disabled selected>Ciudad</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                    <span class="helper-text" data-error="Selecciona una ciudad."></span>
                </div>
                <div class="col s6">
                    <label>Estado</label>
                    <select id="state" formControlName="state" required>
                        <option value="" disabled selected>Estado</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                    <span class="helper-text" data-error="Selecciona un estado."></span>
                </div>
            </div>
            
            <div class="row">
                <div class="input-field col s12">
                    <input id="schoolName" type="text" class="validate" formControlName="schoolName" required>
                    <label for="schoolName">Nombre de tu Escuela</label>
                    <span class="helper-text" data-error="Ingresa el nombre de tu escuela."></span>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <input id="password" type="password" class="validate" formControlName="password" required>
                    <label for="password">Contraseña</label>
                    <span class="helper-text" data-error="Ingresa una contraseña."></span>
                </div>
                <div class="input-field col s6">
                    <input id="confirm_password" type="password" class="validate" formControlName="confirm_password" required>
                    <label for="confirm_password">Confirmar contraseña</label>
                    <span class="helper-text" data-error="Ingresa una contraseña."></span>
                </div>
            </div>
            

            <div class="row">
                <div class="col s12 center-align">
                    ¿Ya tienes una cuenta? <a href='/login'>Inicia sesión</a>
                </div>
            </div>
    
            <div class="row center-align">
                <button class="waves-effect waves-light btn-large" (click)="submit()">Regístrate</button>
            </div>
        </form>

        <!-- Modal Structure -->
        <div id="signUpModal" class="modal">
            <div class="modal-content">
                <h4>¡Casi Listo!</h4>
                <p>Tu registro se ha completado con éxito. Por favor revisa la bandeja de entrada del correo electrónico con el que te registraste para confirmar tu cuenta en nuestra plataforma.</p>
                <p>OJO: No podrás acceder a la plataforma hasta que tu correo sea confirmado.</p>
            </div>
            <div class="modal-footer">
                <a class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
            </div>
        </div>

    </div>
</div>