/* label color */
.input-field label {
    color: #000;
}
/*  */
/* label focus color */
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
    color: #0693BE;
}
/*  */
/* label underline focus color */
.input-field input[type='text']:focus,
.input-field input[type='email']:focus,
.input-field input[type='password']:focus {
    border-bottom: 1px solid #0693BE;
    box-shadow: 0 1px 0 0 #0693BE;
}
/*  */
/* Selects */
label {
    color: #000;
}
.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #0693BE;
}
/*  */
/* Date Picker */
.datepicker-date-display {
    flex: 1 auto;
    background-color: #ffffff !important;
    color: #fff;
    padding: 20px 22px;
    font-weight: 500;
}
/*  */
/* Buttons color */
.btn-large {
    background-color: #0693BE;
}
.btn-large:hover {
    background-color: #14C9D2;
}
/*  */
/* links */
a {
    color: #14C9D2;
}
/*  */
/* Titles */
.title-text {
    color: #0767A4;
}
 
/*  */