<div class="container">
    <div class="row">
        <h1 class="center-align title-text">Lista de Problemas</h1>
    </div>

    <div class="row" [hidden]="!problems">
        <div class="row">
            <div class="col s4">
                <label>Area</label>
                <select id="area" #area (change)="queryProblems(area, topic, level)" required>
                    <option value="null" disabled selected>Area</option>
                    <option value="1">Area 1</option>
                    <option value="2">Area 2</option>
                    <option value="3">Area 3</option>
                </select>
                <span class="helper-text" data-error="Selecciona una ciudad."></span>
            </div>
            <div class="col s4">
                <label>Tema</label>
                <select #topic id="category" (change)="queryProblems(area, topic, level)" required>
                    <option value="null" disabled selected>Categoria</option>
                    <option value="1">Categoría 1</option>
                    <option value="2">Categoría 2</option>
                    <option value="3">Categoría 3</option>
                </select>
                <span class="helper-text" data-error="Selecciona una ciudad."></span>
            </div>
            <div class="col s4">
                <label>Nivel</label>
                <select #level id="level" (change)="queryProblems(area, topic, level)" required>
                    <option value="null" disabled selected>Nivel</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                <span class="helper-text" data-error="Selecciona una ciudad."></span>
            </div>
        </div>
    
        <div class="row">
            <div class="col s12 center-align">
                <a class="waves-effect btn-large" (click)="resetFilters()">Reiniciar Filtros</a>
            </div>
        </div>
    
        <div class="row">
            <div class="col s12">
                <table class="highlight responsive-table">
                    <thead>
                        <tr>
                            <th class="title-text center-align">Area</th>
                            <th class="title-text center-align">Tema</th>
                            <th class="title-text center-align">Problema</th>
                            <th class="title-text center-align">Nivel</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let problem of problems" (click)="viewProblem(problem._id)">
                            <td>{{problem.area}}</td>
                            <td>{{problem.topic}}</td>
                            <td>{{problem.problemDescription}}</td>
                            <td>{{problem.level}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    
        <div class="row center-align">
            <ul class="pagination">
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                <li class="active"><a href="#!">1</a></li>
                <li class="waves-effect"><a href="#!">2</a></li>
                <li class="waves-effect"><a href="#!">3</a></li>
                <li class="waves-effect"><a href="#!">4</a></li>
                <li class="waves-effect"><a href="#!">5</a></li>
                <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            </ul>
        </div>
    </div>

    <div [hidden]="problems">
        <div class="row center-align">
            <div class="row">
                <h3>Por el momento no hay problemas disponibles.</h3>
            </div>
            
            <div class="row">
                <div class="col s12 center-align">
                    <a class="waves-effect btn-large" [routerLink]="['/home']">Regresar</a>
                </div>
            </div>
        </div>
    </div>
</div>