<div class="container">
    <div class="row">
        <h1 class="center-align title-text">Lista de Problemas</h1>
    </div>

    <div class="row">
        <div class="col s4">
            <label>Area</label>
            <select id="area" formControlName="area" required>
                <option value="" disabled selected>Area</option>
                <option value="1">Area 1</option>
                <option value="2">Area 2</option>
                <option value="3">Area 3</option>
            </select>
            <span class="helper-text" data-error="Selecciona una ciudad."></span>
        </div>
        <div class="col s4">
            <label>Tema</label>
            <select id="category" formControlName="category" required>
                <option value="" disabled selected>Categoria</option>
                <option value="1">Categoría 1</option>
                <option value="2">Categoría 2</option>
                <option value="3">Categoría 3</option>
            </select>
            <span class="helper-text" data-error="Selecciona una ciudad."></span>
        </div>
        <div class="col s4">
            <label>Nivel</label>
            <select id="level" formControlName="level" required>
                <option value="" disabled selected>Nivel</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
            <span class="helper-text" data-error="Selecciona una ciudad."></span>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <table class="highlight">
                <thead>
                    <tr>
                        <th class="title-text center-align">Area</th>
                        <th class="title-text center-align">Tema</th>
                        <th class="title-text center-align">Problema</th>
                        <th class="title-text center-align">Nivel</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Alvin</td>
                        <td>Eclair</td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, saepe nam. Tenetur, odit eum. Totam expedita doloremque repudiandae cumque veniam!</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Alvin</td>
                        <td>Eclair</td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, saepe nam. Tenetur, odit eum. Totam expedita doloremque repudiandae cumque veniam!</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Alvin</td>
                        <td>Eclair</td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, saepe nam. Tenetur, odit eum. Totam expedita doloremque repudiandae cumque veniam!</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Alvin</td>
                        <td>Eclair</td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, saepe nam. Tenetur, odit eum. Totam expedita doloremque repudiandae cumque veniam!</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Alvin</td>
                        <td>Eclair</td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, saepe nam. Tenetur, odit eum. Totam expedita doloremque repudiandae cumque veniam!</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Alvin</td>
                        <td>Eclair</td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, saepe nam. Tenetur, odit eum. Totam expedita doloremque repudiandae cumque veniam!</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Alvin</td>
                        <td>Eclair</td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, saepe nam. Tenetur, odit eum. Totam expedita doloremque repudiandae cumque veniam!</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Alvin</td>
                        <td>Eclair</td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, saepe nam. Tenetur, odit eum. Totam expedita doloremque repudiandae cumque veniam!</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Alvin</td>
                        <td>Eclair</td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, saepe nam. Tenetur, odit eum. Totam expedita doloremque repudiandae cumque veniam!</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Alvin</td>
                        <td>Eclair</td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, saepe nam. Tenetur, odit eum. Totam expedita doloremque repudiandae cumque veniam!</td>
                        <td>2</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        paginator
    </div>

</div>