<div class="container">
    <div class="row">
        <h1 class="center-align title-text">Restablece tu Contraseña</h1>
    </div>

    <div class="row">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic ut soluta facere quibusdam repellat accusantium laboriosam voluptas quaerat! Quis, nemo.</p>
    </div>
    <div class="row">

        <div *ngIf="error != null" class="container ">
            <ul class="collection">
                <li class="collection-item center-align collection-item-error">{{ error }}</li>
            </ul>
            <p class="center-align"></p>
        </div>

        <form class="col s6 offset-s3">
            <div class="row">
                <div class="input-field col s6">
                    <input id="last_name" type="password" #password class="validate">
                    <label for="last_name">Contraseña Nueva</label>
                </div>
                <div class="input-field col s6">
                    <input id="last_name" type="password" #confirmPassword class="validate">
                    <label for="last_name">Confirmar Contraseña</label>
                </div>
            </div>

            <div class="row center-align">
                <button class="btn-large waves-effect" type="submit" (click)="restorePassword(password)" name="action">
                    Restablecer<i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
    <div id="signUpModal" class="modal">
        <div class="modal-content">
            <div *ngIf="uploading" class="container center-align">
                <h4>Cargando...</h4>
                <div class="preloader-wrapper big active">
                    <div class="spinner-layer">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
                <p>Por favor espera un momento.</p>
            </div>
            <div *ngIf="!uploading" class="">
                <h3>{{serverResponse}}</h3>
            </div>
        </div>
        <div class="modal-footer">
            <a class="modal-close waves-effect btn-flat" (click)="navigateToLogin()">Aceptar</a>
        </div>
    </div>
</div>