<div class="container">
    <div class="row">
        <div class="col s4">
            <ul class="collection with-header">
                <li class="collection-header center-align">
                    <div class="row">
                        <img src="/src/assets/img/userDefault.png" alt="" class="circle"/> 
                    </div>

                    <div class="row">
                        {{ student?.name }} <br>
                        {{ student?.lastName }}
                    </div>
                </li>
                <li class="collection-item"><strong>Ranking:</strong> 1</li>
                <li class="collection-item"><strong>Problemas Resueltos:</strong> 0</li>
                <li class="collection-item"><strong>Problemas Correctos:</strong> 0</li>
                <li class="collection-item"><strong>Puntos:</strong> {{ student?.totalScore }}</li>
            </ul>
        </div>
        <div class="col s7 offset-s1">
            <div class="row">
                <h2 class="center-align title-text">Problemas Pendientes</h2>

                <table class="highlight">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Item Name</th>
                            <th>Item Price</th>
                        </tr>
                    </thead>
                
                    <tbody>
                        <tr>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>$0.87</td>
                        </tr>
                        <tr>
                            <td>Alan</td>
                            <td>Jellybean</td>
                            <td>$3.76</td>
                        </tr>
                        <tr>
                            <td>Jonathan</td>
                            <td>Lollipop</td>
                            <td>$7.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row">
                <h2 class="center-align title-text">Problemas Resueltos</h2>

                <table class="highlight">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Item Name</th>
                            <th>Item Price</th>
                        </tr>
                    </thead>
                
                    <tbody>
                        <tr>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>$0.87</td>
                        </tr>
                        <tr>
                            <td>Alan</td>
                            <td>Jellybean</td>
                            <td>$3.76</td>
                        </tr>
                        <tr>
                            <td>Jonathan</td>
                            <td>Lollipop</td>
                            <td>$7.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>