<div class="container">
    <div class="row">
        <h1 class="center-align title-text">Olvidé mi Contraseña</h1>
    </div>

    <div class="row">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic ut soluta facere quibusdam repellat accusantium laboriosam voluptas quaerat! Quis, nemo.</p>
    </div>

    <div class="row">
        <form class="col s6 offset-s3">
            <div class="row">
                <div class="input-field col s12">
                    <input id="last_name" type="email" class="validate">
                    <label for="last_name">Correo Electrónico</label>
                </div>
            </div>

            <div class="row center-align">
                <button class="btn-large waves-effect" type="submit" name="action">
                    Enviar Solicitud<i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
</div>