/*  */
body { 
    display: flex;
    font-size: 17px;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}
main {
    flex: 1 0 auto;
}
/*  */
/*  */
footer.page-footer {
    background: #003e5e;
    color: #fff;
}

footer .footer-copyright .row {
    margin: 0;
}
/*  */