<div class="container">
    <h1 class="center-align title-text">Actualiza tu Información</h1>
    
    <div class="row">
        <form class="col s6 offset-s3">

            <div class="row">
                <div class="input-field col s6">
                    <input id="firstName" type="text" class="validate" value="{{ profile.name }}" required>
                    <label for="firstName" class="active">Nombre</label>
                    <span class="helper-text" data-error="Ingresa tu nombre."></span>
                </div>
                <div class="input-field col s6">
                    <input id="lastName" type="text" class="validate" value="{{ profile.lastName }}" required>
                    <label for="lastName" class="active">Apellidos</label>
                    <span class="helper-text" data-error="Ingresa tu apellido."></span>
                </div>
            </div>
            
            <div class="row">
                <div id="pickerField" class="input-field col s12">
                    <label for="birthDate" class="active">Birth Date</label>
                    <input id="birthDate" #birthDate type="text" class="datepicker" (change)="setDate(birthDate)" value="{{ profile.birthDate }}">
                </div>
            </div>
            
            <div class="row">
                <div class="col s6">
                    <label>Ciudad</label>
                    <select id="city" required>
                        <option value="" disabled selected>Ciudad</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                    <span class="helper-text" data-error="Selecciona una ciudad."></span>
                </div>
                <div class="col s6">
                    <label>Estado</label>
                    <select id="state" required>
                        <option value="" disabled selected>Estado</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                    <span class="helper-text" data-error="Selecciona un estado."></span>
                </div>
            </div>
            
            <div class="row">
                <div class="input-field col s12">
                    <input id="schoolName" type="text" class="validate" value="{{ profile.schoolName }}" required>
                    <label for="schoolName" class="active">Nombre de tu Escuela</label>
                    <span class="helper-text" data-error="Ingresa el nombre de tu escuela."></span>
                </div>
            </div>
    
            <div class="row center-align">
                <button class="waves-effect waves-light btn-large">Actualizar</button>
            </div>
        </form>
    </div>
</div>