<div class="container">
    <div class="row">
        <h3 class="title-text">NOTIFICACIONES</h3>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="collection">
                <a href="#" class="collection-item avatar">
                    <i class="material-icons circle">notifications_active</i>
                    <span class="title">Actualización de Ranking</span>
                    <p class="description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum ex praesentium asperiores velit ab blanditiis? Ad dolor blanditiis consequatur accusantium.
                    </p>

                    <p class="timestamp">
                        Hace 10 minutos.
                    </p>
                    <!-- <a href="#!" class="secondary-content"><i class="material-icons">send</i></a> -->
                </a>
                <a href="#" class="collection-item avatar">
                    <i class="material-icons circle">notifications_active</i>
                    <span class="title">Problema Calificado</span>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum ex praesentium asperiores velit ab blanditiis? Ad dolor blanditiis consequatur accusantium.
                    </p>

                    <p>
                        Hace 27 minutos.
                    </p>
                    <!-- <a href="#!" class="secondary-content"><i class="material-icons">send</i></a> -->
                </a>
                <a href="#" class="collection-item avatar">
                    <i class="material-icons circle">notifications_none</i>
                    <span class="title">Logro Desbloqueado (1,000 puntos)</span>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum ex praesentium asperiores velit ab blanditiis? Ad dolor blanditiis consequatur accusantium.
                    </p>

                    <p>
                        Hace 2 días.
                    </p>
                    <!-- <a href="#!" class="secondary-content"><i class="material-icons">send</i></a> -->
                </a>
                <a href="#" class="collection-item avatar">
                    <i class="material-icons circle">notifications_none</i>
                    <span class="title">Pregunta de Foro Contestada</span>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum ex praesentium asperiores velit ab blanditiis? Ad dolor blanditiis consequatur accusantium.
                    </p>

                    <p>
                        Hace 1 semana.
                    </p>
                    <!-- <a href="#!" class="secondary-content"><i class="material-icons">send</i></a> -->
                </a>
            </div>
        </div>
    </div>
</div>