<div class="container">
    <div class="row">
        <h1 class="center-align title-text">Ajustes</h1>
    </div>

    <div class="row">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus fugit voluptas distinctio delectus, est culpa iste, recusandae quam architecto, deserunt nihil nostrum assumenda fuga provident reprehenderit asperiores. Excepturi cum consequuntur, sunt sapiente iusto sint aliquid. Repellendus quasi repudiandae reiciendis, eos quaerat voluptates, rem id eum, totam itaque odit impedit molestiae.</p>
    </div>

    <div class="row">
        <div class="col s12 m4">
            <div class="card">
                <div class="card-content center-align">
                    <span class="card-title">Perfil</span>
                    <p><i class="material-icons">account_circle</i></p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore autem vel vitae praesentium saepe corporis accusamus consequuntur magnam quasi ipsa.</p>
                </div>
                <div class="card-action center-align">
                    <a [routerLink]="['/updateProfile']">Editar Información Personal</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-content center-align">
                    <span class="card-title">Seguridad</span>
                    <p><i class="material-icons">lock</i></p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore autem vel vitae praesentium saepe corporis accusamus consequuntur magnam quasi ipsa.</p>
                </div>
                <div class="card-action center-align">
                    <a [routerLink]="['/updatePassword']">Cambiar Contraseña</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-content center-align">
                    <span class="card-title">Cuenta</span>
                    <p><i class="material-icons">remove_circle</i></p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore autem vel vitae praesentium saepe corporis accusamus consequuntur magnam quasi ipsa.</p>
                </div>
                <div class="card-action center-align">
                    <a href="#">Eliminar Cuenta</a>
                </div>
            </div>
        </div>
        
    </div>
</div>
        